@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base{
  html{
    font-family: 'Abhaya Libre', serif;
    
  }
  *{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  /* :root {
    --bodyColor: "black";
  }
  body {
    background: var(--bodyColor);
  } */

  body{
    background: #000;
  }

  
  body::-webkit-scrollbar{
    display: none;
  }
  h1{
    @apply font-bold md:text-6xl text-3xl text-white
  }
  html {
    scroll-behavior: smooth;
  }
}
.toast-message {
  background-color: darkblue;
  color: red;
  font-size: 20px;
  /* width: 34vw; */
  z-index: 4;
  padding: 30px 20px;
}
